@mixin gs-image ($img, $raster-format: 'png', $svg: true, $height: false, $width: false) {
  $img-raster: "#{$img}.#{$raster-format}";
  background-image: image-url($img-raster);
  @if $svg {
    $img-svg: "#{$img}.svg";
    background-image: none, inline($img-svg);
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  @if $width {
    width: image-width($img-raster);
  }
  @if $height {
    min-height: image-height($img-raster);
  }
}

@mixin gs-footer-logo {
  @include transition(all 0.3s);
  display: block;
  margin: 0 auto;
  background-repeat: no-repeat;
  @include gs-image('gs', $height: true, $width: true);
  opacity: 0.5;
  border-radius: 32px;
  box-shadow: #666 0 0 20px;
  border: 2px solid #999;
  &:hover {
    opacity: 1;
  }
}

@mixin gs-filter($filter) {
  -webkit-filter: $filter;
  -moz-filter: $filter;
  -ms-filter: $filter;
  -o-filter: $filter;
  filter: $filter;
}
